<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.AddressMapper">
  <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.shopping.Address">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operator"  property="operator" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="tenant_id" property="tenantId" />
    <result column="delete_flag" property="deleteFlag" />
    <result column="address" property="address"/>
    <result column="phone" property="phone"/>
    <result column="name" property="name"/>
    <result column="default_flag" property="defaultFlag"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,operator,create_time,update_time,tenant_id,delete_flag,address,phone,name,default_flag
  </sql>
  <insert id="save" parameterType="com.jsh.erp.datasource.entities.Product">
    insert into jsh_address (operator,create_time,update_time,delete_flag,address,phone,name,default_flag)
        value(#{operator},#{createTime},#{updateTime},#{deleteFlag},#{address},#{phone},#{name},#{defaultFlag});
  </insert>
  <update id="modify" parameterType="com.jsh.erp.datasource.entities.Product">
    update jsh_address
    <set>
      <if test='operator != null'>
        operator = #{operator},
      </if>
      <if test='createTime != null'>
        create_time = #{createTime},
      </if>
      <if test='updateTime != null'>
        update_time = #{updateTime},
      </if>
      <if test='deleteFlag != null and deleteFlag != ""'>
        delete_flag = #{deleteFlag},
      </if>
      <if test='address != null and address != ""'>
        address = #{address},
      </if>
      <if test='phone != null and phone != ""'>
        phone = #{phone},
      </if>
      <if test='name != null and name != ""'>
        `name` = #{name},
      </if>
      <if test='defaultFlag != null '>
        default_flag = #{defaultFlag}
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="delete">
    update jsh_address set delete_flag = '1' where id = #{id}
  </update>
  <update id="batchDelete">
    update jsh_address  set delete_flag = '1' where id in
    <foreach collection="ids" open="(" close=")" item="id" separator=",">
      #{id}
    </foreach>
  </update>
  <select id="queryList" resultMap="BaseResultMap">
    select * from jsh_address
    where delete_flag != '1'
    <if test='query.address != null and query.address != ""'>
      and address like concat('%',#{query.address},'%')
    </if>
    <if test='query.name != null and query.name != ""'>
      and name like concat('%',#{query.name},'%')
    </if>
    <if test='query.operator != null'>
      and operator = #{query.operator}
    </if>
    <if test='query.defaultFlag != null'>
      and default_flag = #{query.defaultFlag}
    </if>
  </select>
  <select id="detail" resultMap="BaseResultMap">
    select * from jsh_address where id = #{id}
  </select>
  <select id="queryByIds" resultMap="BaseResultMap">
    select * from jsh_address
    where id in
    <foreach collection="ids" separator="," item="id" close=")" open="(">
      #{id}
    </foreach>
  </select>

</mapper>